.navigation{
    grid-area: n;
    background-color: red;
    padding: 15px;
  }

.nav{
  width: 100px;
  margin: 1px;
  margin-bottom: 25px;
}

li a{
  color: white;
  text-decoration: none;
}

li a.active{
  color: gold;
}

