.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs_logo{
    grid-area: c;
    background-color: blue;
  }

.dialogs_logo h2{
    color: white;
    padding-left: 30px;
}

.dialogs_items{
  padding: 10px;
}

.dialogs_items .activeDialog{
  color: gold;
}

.dialog{

}

.messages{
  padding: 10px;
}

.message{

}